.chat_list_container{
   
    width: 80%;
    margin: auto;
    height: 640px;
    overflow: auto;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px black;
    margin-top: 1%;
}

.chat_list_message{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 10px 0;

}

.chat_time{
    font-size: 11px;
    color: rgb(82, 80, 80);
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.chat_h3,
.chat_p{
    margin: 5px 0px;
}

.chat_p{
    padding-left: 15px;
}