.sidebar {
    height: 100%;
    width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    overflow-x: hidden;
    padding-top: 16px;

  }
  
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    
    
  }
  
  .sidebar a:hover {
    color: #fff9f9;
  }
  

  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  
  .sidebar_footer{
    padding: 10px;
    text-align: center;
  }
  
  .sidebar_footer_content{
    border-top: 2px solid lightgray;
  }
  
  .sidebar_footer_content_h2{
    color: #acd0c0;
  }

  .sidebar_footer_content_p{
    color: #818181;
  }

  @media screen and (max-width: 750px) {
     .sidebar {
     display: none;
    }
     .sidebar a {font-size: 18px;}
     
     .sidebar_footer{
       margin-top: 300px;
     }

     .sidebar a{
        margin-bottom: 15px;
     }
  }