.sidebar {
    height: 100%;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    overflow-x: hidden;
    padding-top: 16px;

  }
  
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    margin-bottom: 15px;
  }
  
  .sidebar a:hover {
    color: #fff9f9;
  }
  

  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sidebar_footer{
  padding: 10px;
}

  .sidebar_footer_content{
    border-top: 2px solid lightgray;
  }