.about_us_title{
    text-align: center;
    margin: 5px;
    padding: 10px
}

.about_us_fill{
    width: 900px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    
}