.form_login{
    margin-top: 10%;
}
.container {
    margin: auto;
    padding: 16px;
    background-color: #121212;
    border-radius: 10px;
    width: 55%;
    color: #950101;
  }
  
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .loginbtn {
    color: #FF0000;
    background-color: #121212;
    border: 1px solid red;
    padding: 16px 20px;
    margin: 25px 0;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  

  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }