.chat_container{
    padding: 15px 0px;
}

.chat_form{
   text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    
}

.chat_form input[type=text]{
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #ddd;
    margin: 0px 10px;
    border-radius: 10px;
}

.chat_form button {
    background-color: #acd0c0;
    color: black;
    padding: 14px 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    opacity: 0.9;
}

.chat_pagebtn{
    margin: 10px 0px;
}